<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% @posts.each do |post| %>
        <div class="post-preview">
          <%=link_to post do%>
            <h2 class="post-title">
              <%=post.title%>
              <% if current_user.try(:admin?)%>
                  <%= link_to 'Edit', edit_post_path(post),:class => 'admin_action' %> |
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },:class => 'admin_action' %>
              <%end%>
            </h2>
            <h3 class="post-subtitle">
              <%=truncate(post.body,:length => 300) %>
            </h3>
          <%end%>
          <p class="post-meta">Posted by <%=post.user.email%> on <%=time_tag(post.created_at)%></p>
        </div>
        <hr>
      <%end%>
      <%= will_paginate @posts, :previous_label => 'â† Fresh posts', :previous_label_class =>  :next_label => 'Older posts â†’' %>
      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

