<div class="post-heading">
  <h1><%= @post.title %></h1>
  <span class="meta">Posted by <%= @post.user.email %> on <%=time_tag(@post.created_at)%></span>
  <% if current_user.try(:admin?)%>
      <%= link_to 'Edit', edit_post_path(@post),:class => 'admin_action' %> |
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' },:class => 'admin_action' %> |
  <%end%>
</div>
<hr>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p><%= @post.body %></p>
      </div>
    </div>
  </div>
</article>


<%=render 'posts/comments'%>


