<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <%if user_signed_in?%>
            <li>
              <%= link_to(current_user.email, root_path)%>
            </li>
            <li>
              <%= link_to('NEW POST', new_post_path)%>
            </li>
        <%end%>

        <li>
          <%= link_to('Posts', root_path)%>
        </li>

        <%if user_signed_in?%>
            <li>
              <%= link_to('Sign out', destroy_user_session_path, :method => :delete)%>
            </li>
        <%else%>
            <li>
            <li><%= link_to('Sign in', new_user_session_path)%>
            </li>
            <li>
            <li><%= link_to('Sign up', new_user_registration_path)%></li>
            </li>
        <%end%>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>